Repository jupyter/accessibility, pull requests merged in 2022-06, with the labels that each got.

#94 Add accessibility workshop to community docs
  docs/community/meeting-minutes/2022-jupyter-accessibility-workshops/jupyter-accessibility-workshops.md
Labels: type: meetings 💬, PR: needs review 👀

#92 Gitpod updates + new Playwright test
  .github/workflows/docker.yml
  .gitpod.yml
  .hadolint.yml
  docs/resources/statement.md
  docs/statement.md
  testing/jupyterlab/README.md
  testing/jupyterlab/tests/tab-loop-no-trap.test.ts
  testing/scripts/jupyterlab-testing-scripts.md
  testing/scripts/testing-script-template.md
  testing/tools/Dockerfile
  testing/tools/fix_permissions
  testing/tools/workspace_config
Labels: type: enhancement 💅🏼, type: maintenance 🔨, area: testing 🔍

#95 Create testing script documentation
  testing/scripts/jupyterlab-testing-scripts.md
  testing/scripts/testing-script-template.md
Labels: PR: needs review 👀, area: testing 🔍
